body {
    background: #E9FFC7
    
  }

  h1{
    style= font-size: 50;text-align:center;
  }

  #jb{
    width: 50%;
    height: 500px;
    margin: 40px;
    margin-right: 100px;
    margin-left: 450px;
  }

  #pvv{
    width: 50%;
    height: 500px;
    margin: 40px;
    margin-right: 100px;
    margin-left: 450px;
  }

  #ci{
    width: 50%;
    height: 500px;
    margin: 40px;
    margin-right: 100px;
    margin-left: 450px;
  }

  #m3f{
    width: 40%;
    height: 500px;
    margin: 40px;
    margin-right: 100px;
    margin-left: 570px;
  }

  #pa{
    width: 40%;
    height: 500px;
    margin: 40px;
    margin-right: 100px;
    margin-left: 570px;
  }

  #bdp{
    width: 50%;
    height: 600px;
    margin: 40px;
    margin-right: 100px;
    margin-left: 470px;
  }

  #idm{
    width: 50%;
    height: 500px;
    margin: 40px;
    margin-right: 100px;
    margin-left: 450px;
  }

  #pp{
    width: 50%;
    height: 500px;
    margin: 40px;
    margin-right: 100px;
    margin-left: 450px;
  }

p{
  text-align: center;
}

strong {
    color: rgb(43, 107, 107);

}

em {
    color: rgb(0, 107, 80);
}

.itens{
  
  font-style: italic;
}
.pt{

}

.it{
  text-align: center;
}
