body {
    background: #E9FFC7
    
  }

  h1{
    style= font-size: 50;text-align:center;
  }

  #jb{
    width: 75%;
    height: 700px;
  }

p{
   style= text-align: center;
}

strong {
    color: rgb(43, 107, 107);

}

em {
    color: rgb(0, 107, 80);
}

